<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>the home page<%=6+4%></h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos quia nam quos facilis labore commodi, minima possimus suscipit natus laborum ipsa iste saepe in soluta dolores blanditiis mollitia pariatur expedita!
        Minus doloribus, sequi iusto dolor qui impedit beatae nemo expedita doloremque distinctio nihil, dicta ut obcaecati nobis, explicabo soluta cum minima ipsa dolorum laborum? Impedit, doloribus. Repellendus tempora perferendis minima.
        Non consectetur id fugiat iusto, tempora adipisci in nemo laudantium! Perspiciatis ab velit dolorum porro adipisci laudantium, expedita, ratione culpa eos sit dignissimos. Ipsum tempora, ullam expedita nulla iste illum.
    </p>
    
</body>
</html>